@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url("../fonts/LeagueSpartan-Bold.otf");
}

@font-face {
  font-family: "Playfair-Display-Bold";
  src: url("../fonts/ofont.ru_Playfair Display.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.ttf");
}

